{% macro input(name, type, default, label, class, id, attributes, readonly, options, setting, context) %}

    {% import "form.macro.twig" as forms %}
    {{ set_assets('assets/js/recordpicker_main.js') }}

    {% set edit_index = get_context('edit_index') %}
    {% set user = get_context('user') %}

    {% set text_separator = '' %}
    {% set style_params = 'style="display: none;"' %}
    {% set checkbox_params = '' %}
    {% set user_form_name = 'form[' ~ name ~ ']' %}
    {% set table_name = setting.parameters.source.join_table_name|replace({'#__': ''}) %}
    {% set root_path = table_name|replace({'_': '.'}) %}

    {% if attribute(edit_index, name) != '' %}
        {% set checkbox_params = 'checked' %}
        {% set style_params = '' %}
        {% set user_form_name = '' %}
    {% endif%}

    {% set item = get_context('item') %}
    {% set recordpicker_text = '' %}

    {% if setting.parameters.source.display_field|length > 1 %}
        {% set text_separator =  ' | ' %}
    {% endif %}

    {% if setting.parameters.source.display_field|length > 0 %}
        {% for displayfield in setting.parameters.source.display_field %}
            {% set recordpicker_text = recordpicker_text ~ attribute(item, name ~ '_' ~ displayfield) ~ text_separator  %}
        {% endfor %}
    {% endif %}

    <div class="form-group {{ classname(class, name, false) }}-group">
        <label for="{{ name }}" class="col-sm-3 control-label">{{ label }}</label>
        <div class="col-sm-9 kazicode-form-field {{name}}_recordpicker {% if readonly %}form-control-static{% endif %}">

            {% if not readonly %}
                <div class="input-group">
                    <input class="recordpicker_text form-control input-sm" type="text" name="" value="{{ recordpicker_text|default('Select Record.') }}" readonly="readonly">
                    <input class="recordpicker_value" type="hidden" name="form[{{ name }}]" value="{{ default }}">
                    <div class="input-group-btn ">
                        {% if not readonly and table_name != json_object.table_name %}
                            <a class="btn btn-primary btn-sm add-recordpicker" href="#" data-toggle="modal" data-target="#recordpicker{{ name }}Modal" field_name="{{ name }}" displayfields="{{ setting.parameters.source.display_field|join(',') }}" title="Choose Record">Choose</a>
                        {% endif %}
                    </div><!-- /btn-group -->
                </div>
            {% else %}
                {{ default|raw }}
            {% endif %}
        </div>
    </div>

    {% if not readonly %}
        <div class="modal fade large form-horizontal recordpicker" id="recordpicker{{ name }}Modal" tabindex="-1" role="dialog" aria-labelledby="recordpicker{{ name }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="subsetModalLabel">Choose Record</h4>
                    </div>
                    <div class="modal-body">
                        <iframe class="lazy_load_iframe" data-src="{{ generate_url('admin.' ~ root_path, {'twig_file':'recordpicker', 'displayfield' : setting.parameters.source.display_field|join(',')}) }}" style="width:100%;height: 500px;" scrolling="yes" frameBorder="0">

                        </iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div> 
    {% endif %} 

    <style>
        #recordpicker{{ name }}Modal .modal-dialog {
            width: 90% !important;

        }

        #recordpicker{{ name }}Modal iframe{
            background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
                }
            </style>

        {% endmacro %}

