{% macro input(name, type, default, label, class, id, attributes, readonly, options, setting, context) %}

    {% import "form.macro.twig" as forms %}


    {{ set_assets('assets/js/comment.js') }}
    {{ set_assets('assets/js/media.js') }}
    {{ set_assets('assets/css/comment.css') }}

    <div id="chat-box"  class="kazi-comments chat">
        {{ label }}
        <div class="kazi_comment_form_holder item"></div>
        <div class="kazi-comment-list"></div>
    </div>  
    {{ set_media_exist(true) }}

    <script>
        var comment_user_avatar = '{{  document.user.avatar_file|default('assets/images/users/users/avatar.png') }}';
        var comment_user_name = '{{  document.user.name|default('Anonymous') }}';
    </script>  

{% endmacro %}

